.wrapper
{
    display: flex;
    justify-content: center;
}
.frame
{
    box-sizing: border-box;
    width: 250px;
    height: 260px;
    margin-top: 60px;
    margin-left: 20px;

    border: 2px solid black;
    border-radius: 13px;
    background-color: yellow;
}



.button
{
    width: 200px;
    height: 100px;
    margin: 20px 25px;

    border: 2px solid black;
    border-radius: 12px;
    background-color: lawngreen;
}

button
{
    font-size: 24px;
    font-weight: bold;

    width: 80px;
    height: 50px;
    margin: 30px 10px;

    color: darkblue;
    border-radius: 8px;
}
